# List 
* iteration operation with loop
* apply any operation on element

In [1]:
names : list[str] = ['Sir Zia',"Muhammad Qasim","DR Noman"]
print(names)

['Sir Zia', 'Muhammad Qasim', 'DR Noman']

In [2]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
    print(name)

# Sir zia
# "Muhammad Qasim"
# DR Noman

Sir Zia
Muhammad Qasim
DR Noman

```
names = names = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for(i=0; i<names.length; i++){
    names[i]
}

```

In [4]:
names = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

i:int = 0 # counter = 0

while i<len(names): # names length =3
    print(names[i])
    i += 1

Sir Zia
Muhammad Qasim
DR Noman

In [6]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
    print(name)

Sir Zia
Muhammad Qasim
DR Noman

In [7]:
for name in names:
    print(f'Welcome Dear Tacher {name.title()}')

Welcome Dear Tacher Sir Zia
Welcome Dear Tacher Muhammad Qasim
Welcome Dear Tacher Dr Noman

In [9]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
    print(f'Welcome Dear Tacher {name.title()}')
    print("PIAIC Gen AI Team\n")

Welcome Dear Tacher Sir Zia
PIAIC Gen AI Team

Welcome Dear Tacher Muhammad Qasim
PIAIC Gen AI Team

Welcome Dear Tacher Dr Noman
PIAIC Gen AI Team

In [10]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
    print(f'Welcome Dear Tacher {name.title()}')
    print("PIAIC Gen AI Team\n")

print("Pakistan zinda bad")

Welcome Dear Tacher Sir Zia
PIAIC Gen AI Team

Welcome Dear Tacher Muhammad Qasim
PIAIC Gen AI Team

Welcome Dear Tacher Dr Noman
PIAIC Gen AI Team

Pakistan zinda bad

In [12]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names[-2:]:
    print(f'Welcome Dear Tacher {name.title()}')
    print("PIAIC Gen AI Team\n")

print("Pakistan zinda bad")

Welcome Dear Tacher Muhammad Qasim
PIAIC Gen AI Team

Welcome Dear Tacher Dr Noman
PIAIC Gen AI Team

Pakistan zinda bad

In [28]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names[::-1]:
    print(f'Welcome Dear Tacher {name.upper()}')
    print("PIAIC Gen AI Team\n")
print("Pakistan zinda bad\n")

Welcome Dear Tacher DR NOMAN
PIAIC Gen AI Team

Welcome Dear Tacher MUHAMMAD QASIM
PIAIC Gen AI Team

Welcome Dear Tacher SIR ZIA
PIAIC Gen AI Team

Pakistan zinda bad

In [19]:
data_base : list[tuple[str,str]] = [("qasim",'123'),
                                    ("sirzia",'345'),
                                    ('ikhlas','789')
                                    ]

for row in data_base:
    print(row)

('qasim', '123')
('sirzia', '345')
('ikhlas', '789')

In [20]:
data_base : list[tuple[str,str]] = [("qasim",'123'),
                                    ("sirzia",'345'),
                                    ('ikhlas','789')
                                    ]

for row in data_base:
    user, password = row
    print(user, password)

qasim 123
sirzia 345
ikhlas 789

In [22]:
input_user : str = input("Enter user name")
print(input_user)

Enter user name Muhammad Qasim Pakistan zinda bad

Muhammad Qasim Pakistan zinda bad

In [29]:
data_base : list[tuple[str,str]] = [("qasim",'123'),
                                    ("sirzia",'345'),
                                    ('ikhlas','789')
                                    ]
input_user : str = input("Enter user name")
input_password : str = input("Enter user password")



for row in data_base:
    user, password = row
    if input_user == user and input_password == password:
        print(f"Valid User {user}")
        break
else:
    print("Not found or Invalid user name")

Enter user name qasim
Enter user password 123

Valid User qasim

In [24]:
data_base : list[tuple[str,str]] = [("qasim",'123'),
                                    ("sirzia",'345'),
                                    ('ikhlas','789')
                                    ]
input_user : str = input("Enter user name")
input_password : str = input("Enter user password")



for row in data_base:
    user, password = row # ("qasim",'123')
    if input_user == user and input_password == password:
        print("Valid User")
        break
else:
    print("Not found or Invalid user name")

Enter user name asif
Enter user password 122

Not found or Invalid user name

In [25]:
data_base : list[tuple[str,str]] = [("qasim",'123'),
                                    ("sirzia",'345'),
                                    ('ikhlas','789')
                                    ]
input_user : str = input("Enter user name")
input_password : str = input("Enter user password")

# user , password = ("qasim",'123')
# user = name[0]
# password = name[1]

for row in data_base:
    user, password = row  # ("qasim",'123')
    if input_user == user and input_password == password:
        print("Valid User")
        break
else:
    print("Not found or Invalid user name")

Enter user name sirzia
Enter user password 345

Valid User

In [31]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
    print(name)
else:
    print("Hello world")

Sir Zia
Muhammad Qasim
DR Noman
Hello world

In [33]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
    print(name)
    break
else:
    print("Hello world")

Sir Zia

In [32]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
    print(name)
print("Hello world")

Sir Zia
Muhammad Qasim
DR Noman
Hello world

In [34]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
    print(name)
    break
    
print("Hello world")

Sir Zia
Hello world

In [35]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
print(name)

IndentationError: expected an indented block after 'for' statement on line 3 (2614519669.py, line 4)

In [36]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names
    print(name)

SyntaxError: expected ':' (1472454235.py, line 3)

In [39]:
magicians: list[str] = ['alice', 'david', 'carolina']
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
    

print(f"I can't wait to see your next trick, {magician.title()}.\n")

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

In [41]:
message = "Hello Python world!" 
    print(message)

IndentationError: unexpected indent (1223476688.py, line 2)

In [42]:
message = "Hello Python world!" 
 print(message)

IndentationError: unexpected indent (1223476688.py, line 2)

In [45]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
    print(f"I can't wait to see your next trick, {magician.title()}.\n")
    
print("Thank you everyone, that was a great magic show!")# last message for everyone

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

Thank you everyone, that was a great magic show!

In [52]:
#              0        1         2
magicians = ['alice', 'david', 'carolina']

list(enumerate(magicians))

[(0, 'alice'), (1, 'david'), (2, 'carolina')]

In [53]:
#              0        1         2
magicians = ['alice', 'david', 'carolina']

for index, name in enumerate(magicians):
    print(index, name)

0 alice
1 david
2 carolina

# Numbers with loop
* `range(start,end,step)`

In [46]:
range(10)

range(0, 10)

In [47]:
list(range(10))# starting=0, ending = n-1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
list(range(2,10))# starting=0, ending = n-1

[2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
list(range(2,21,2))# starting=0, ending = n-1 21-1=20, step

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [54]:
for n in range(1,11):
    print(n)

1
2
3
4
5
6
7
8
9
10

In [56]:
for n in range(1,11):
    print(f"{2} X {n} = {n*2}")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [57]:
squares:list[int] = []
for value in range(1, 11):
    square = value ** 2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# List comprehensive
```
for item in items_list:
    loop_body
```

### Comprehensive Style

```
[loop_body for item in items_list]
    
```

In [58]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [59]:
for i in range(1,11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [61]:
'line1'
'line2'
'line3' # always return last line

'line3'

In [62]:
print('line1')
print('line2')
print('line3') # always return last line

line1
line2
line3

In [60]:
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [67]:
digits:list[int] = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

print(digits)
print(max(digits))
print(min(digits))
print(sum(digits))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
9
0
45

In [69]:
my_foods = ['pizza', 'falafel', 'carrot cake'] 
friend_foods = my_foods[:] # deep copy

print(my_foods)
print(friend_foods)

friend_foods[0] = "Tikka"

print(my_foods)
print(friend_foods)

['pizza', 'falafel', 'carrot cake']
['pizza', 'falafel', 'carrot cake']
['pizza', 'falafel', 'carrot cake']
['Tikka', 'falafel', 'carrot cake']

# Tuples

In [71]:
names:tuple[str] = ('A',"B",'C')
print(names[0])
print(names[0:2])

A
('A', 'B')

In [72]:
names:tuple[str] = ('A',"B",'C')

names[0] = "Pakistan"

TypeError: 'tuple' object does not support item assignment

In [73]:
names:tuple[str] = ('A',"B",'C')

names:tuple[str] = ('Pakistan',"B",'C')

print(names)

('Pakistan', 'B', 'C')

In [74]:
from typing import Any
data : tuple[Any] = ("A",[1,2,3], True)

print(data)

('A', [1, 2, 3], True)

In [79]:
data : tuple[Any] = ("A",[1,2,3], True)

print(data[1])
data[1].append(20)
print(data)

[1, 2, 3]
('A', [1, 2, 3, 20], True)

In [80]:
a  = input("abc") # return string type
print(type(a))
print(a)

abc 123

<class 'str'>
123

In [81]:
sorted([7,8,1,3])

[1, 3, 7, 8]