# Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

In [4]:
!conda install lxml -y

Collecting package metadata (current_repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 23.5.2
  latest version: 23.9.0

Please update conda by running

    $ conda update -n base -c defaults conda

Or to minimize the number of packages updated during conda update use

     conda install conda=23.9.0



## Package Plan ##

  environment location: /Users/m.qasim/anaconda3/envs/python12

  added / updated specs:
    - lxml


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    icu-73.2                   |       hc8870d7_0        11.4 MB  conda-forge
    libxml2-2.11.5             |       h25269f3_1         600 KB  conda-forge
    libxslt-1.1.37             |       h1728932_1         226 KB  conda-forge
    lxml-4.9.3                 |  py312hfb440ac_1         1.2 MB  conda-forge
    ------------------------------------------------------------
                                           Total:        13.5 MB

The following NEW packages will be INSTALLED:

  icu                conda-forge/osx-arm64::icu-73.2-hc8870d7_0
  libiconv           conda-forge/osx-arm64::libiconv-1.17-he4db4b2_0
  libxml2            conda-forge/osx-arm64::libxml2-2.11.5-h25269f3_1
  libxslt            conda-forge/osx-arm64::libxslt-1.1.37-h1728932_1
  lxml               conda-forge/osx-arm64::lxml-4.9.3-py312hfb440ac_1
  python_abi         conda-forge/osx-arm64::python_abi-3.12-4_cp312



Downloading and Extracting Packages
lxml-4.9.3           | 1.2 MB    |                                       |   0%
libxml2-2.11.5       | 600 KB    |                                       |   0%

libxslt-1.1.37       | 226 KB    |                                       |   0%


icu-73.2             | 11.4 MB   |                                       |   0%

libxslt-1.1.37       | 226 KB    | ##6                                   |   7%


icu-73.2             | 11.4 MB   |                                       |   0%

libxslt-1.1.37       | 226 KB    | ##########4                           |  28%


lxml-4.9.3           | 1.2 MB    | 4                                     |   1%

libxslt-1.1.37       | 226 KB    | ####################9                 |  57%
libxml2-2.11.5       | 600 KB    | 9                                     |   3%


icu-73.2             | 11.4 MB   | 4                                     |   1%

libxslt-1.1.37       | 226 KB    | ###############################4      |  85%


icu-73.2             | 11.4 MB   | 5                                     |   2%

libxslt-1.1.37       | 226 KB    | ####################################6 |  99%


icu-73.2             | 11.4 MB   | 6                                     |   2%

lxml-4.9.3           | 1.2 MB    | ###7                                  |  10%
libxml2-2.11.5       | 600 KB    | #######8                              |  21%


icu-73.2             | 11.4 MB   | 7                                     |   2%


icu-73.2             | 11.4 MB   | #1                                    |   3%


lxml-4.9.3           | 1.2 MB    | ###########1                          |  30%
libxml2-2.11.5       | 600 KB    | ###############7                      |  43%


icu-73.2             | 11.4 MB   | #8                                    |   5%
libxml2-2.11.5       | 600 KB    | #################################5    |  91%


lxml-4.9.3           | 1.2 MB    | #####################9                |  59%


icu-73.2             | 11.4 MB   | ##9                                   |   8%
libxml2-2.11.5       | 600 KB    | ##################################### | 100%


lxml-4.9.3           | 1.2 MB    | ##################################4   |  93%


lxml-4.9.3           | 1.2 MB    | ##################################### | 100%


icu-73.2             | 11.4 MB   | ####6                                 |  13%


icu-73.2             | 11.4 MB   | #####1                                |  14%


icu-73.2             | 11.4 MB   | #####6                                |  15%


icu-73.2             | 11.4 MB   | ######                                |  16%


icu-73.2             | 11.4 MB   | ######5                               |  18%


icu-73.2             | 11.4 MB   | ######9                               |  19%


icu-73.2             | 11.4 MB   | #######2                              |  20%


icu-73.2             | 11.4 MB   | #######7                              |  21%


icu-73.2             | 11.4 MB   | ########3                             |  23%


icu-73.2             | 11.4 MB   | ########7                             |  24%


icu-73.2             | 11.4 MB   | #########1                            |  25%


icu-73.2             | 11.4 MB   | #########8                            |  27%


icu-73.2             | 11.4 MB   | ##########3                           |  28%


icu-73.2             | 11.4 MB   | ##########8                           |  29%


icu-73.2             | 11.4 MB   | ###########2                          |  30%


icu-73.2             | 11.4 MB   | ###########8                          |  32%


icu-73.2             | 11.4 MB   | ############3                         |  33%


icu-73.2             | 11.4 MB   | ############8                         |  35%


icu-73.2             | 11.4 MB   | #############3                        |  36%


icu-73.2             | 11.4 MB   | #############8                        |  38%


icu-73.2             | 11.4 MB   | ##############4                       |  39%


icu-73.2             | 11.4 MB   | ##############9                       |  40%


icu-73.2             | 11.4 MB   | ###############5                      |  42%


icu-73.2             | 11.4 MB   | ################                      |  43%


icu-73.2             | 11.4 MB   | ################6                     |  45%


icu-73.2             | 11.4 MB   | #################2                    |  47%


icu-73.2             | 11.4 MB   | #################7                    |  48%


icu-73.2             | 11.4 MB   | ##################3                   |  50%


icu-73.2             | 11.4 MB   | ###################                   |  51%


icu-73.2             | 11.4 MB   | ###################8                  |  54%


icu-73.2             | 11.4 MB   | ####################4                 |  55%


icu-73.2             | 11.4 MB   | #####################1                |  57%


icu-73.2             | 11.4 MB   | #####################7                |  59%


icu-73.2             | 11.4 MB   | ######################3               |  60%


icu-73.2             | 11.4 MB   | ######################8               |  62%


icu-73.2             | 11.4 MB   | #######################7              |  64%


icu-73.2             | 11.4 MB   | ########################4             |  66%


icu-73.2             | 11.4 MB   | ########################8             |  67%


icu-73.2             | 11.4 MB   | #########################2            |  68%


icu-73.2             | 11.4 MB   | #########################6            |  69%


icu-73.2             | 11.4 MB   | #########################9            |  70%


icu-73.2             | 11.4 MB   | ##########################4           |  71%


icu-73.2             | 11.4 MB   | ###########################           |  73%


icu-73.2             | 11.4 MB   | ###########################8          |  75%


icu-73.2             | 11.4 MB   | ############################6         |  78%


icu-73.2             | 11.4 MB   | #############################5        |  80%


icu-73.2             | 11.4 MB   | ##############################5       |  82%


icu-73.2             | 11.4 MB   | ###############################2      |  85%


icu-73.2             | 11.4 MB   | ###############################9      |  86%


icu-73.2             | 11.4 MB   | ################################6     |  88%


icu-73.2             | 11.4 MB   | #################################3    |  90%


icu-73.2             | 11.4 MB   | ##################################    |  92%


icu-73.2             | 11.4 MB   | ##################################8   |  94%


icu-73.2             | 11.4 MB   | ###################################5  |  96%


icu-73.2             | 11.4 MB   | ####################################2 |  98%


icu-73.2             | 11.4 MB   | ####################################9 | 100%









Preparing transaction: done
Verifying transaction: | WARNING conda.core.path_actions:verify(1247): Unable to create environments file. Path not writable.
  environment location: /Users/m.qasim/.conda/environments.txt

done
Executing transaction: \ WARNING conda.core.envs_manager:register_env(51): Unable to register environment. Path not writable or missing.
  environment location: /Users/m.qasim/anaconda3/envs/python12
  registry file: /Users/m.qasim/.conda/environments.txt
done

# Python Arithmetic Operators

In [1]:
# !pip install pandas
# import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [2]:
a : int = 7
b : int = 2

print(a + b) # addtition
print(a - b) # subtraction
print(a * b)
print(a / b) # division

9
5
14
3.5

In [3]:
a : int = 11
b : int = 3

print(a % 3)

2

In [4]:
print(2**2)
print(2**3)

4
8

In [5]:
print(12 / 3)

4.0

In [8]:
print(14.8 / 3)

4.933333333333334

In [9]:
print( 14.8 // 3)

4.0

In [7]:
print( 14 // 3)

4

# Python Assignment Operators

In [10]:
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [ ]:
#:=

In [18]:
a : int = 7
print(b := 7)

7

In [11]:
# = assign
a : int = 7
b : int = 2

In [13]:
# +=
a : int = 7
print(a)
a = a + 2
print(a)

7
9

In [14]:
# +=
a : int = 7
print(a)
a += 2
print(a)

7
9

In [15]:
a : int = 7
print(a)
a -= 2
print(a)

7
5

# Python Comparison Operators

In [19]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [20]:
a : int = 7
b : int = 10

print( a == b )
# a == b
# 7 == 10
# False

False

In [21]:
a : int = 7
b : int = 7

print( a == b )
# a == b
# 7 == 7
# True

True

In [22]:
a : int = 7
b : str = '7'

print(a == b)
# a == b
# 7 == 7
# True

False

In [23]:
# !=
a : int = 7
b : int = 7

print( a != b )
# a == b
# 7 == 7
# False

False

In [24]:
# !=
a : int = 7
b : int = 8

print(a > b)
# a > b
# 7 > 8
# False

False

In [25]:
# !=
a : int = 7
b : int = 7

print(a > b)
# a > b
# 7 > 8
# False

False

In [26]:
# !=
a : int = 10
b : int = 8

print(a > b)
# a > b
# 10 > 8
# False

True

In [27]:
# !=
a : int = 10
b : int = 8

print(a < b)
# a < b
# 10 < 8
# False

False

In [28]:
# !=
a : int = 2
b : int = 7

print(a >= b)

False

In [29]:
# !=
a : int = 7
b : int = 7

print(a >= b)

True

In [30]:
# !=
a : int = 7
b : int = 7

print(a <= b)

True

In [31]:
# !=
a : int = 7
b : int = 7

print(a => b)

SyntaxError: invalid syntax (2966280906.py, line 5)

ASCII Code
```
A = 65
B = 66
Z = 90

a = 97
b = 98
z = 122

0=48
1=49
9=57
```

In [36]:
ord('A')

65

In [35]:
chr(65)

'A'

In [33]:

a : str = 'A'
b : str = 'B'

print(b >= a)

True

In [34]:
a : str = 'A'
b : str = 'a' 

print(b >= a)

True

# Python Logical Operators

In [37]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [38]:
# and لازمی
# or = optional
#1        2        3        4
True and True and True and True

True

In [41]:
# and لازمی
# or = optional
#1        2        3        4
print(True and True and True and True  )
print(True and True and False and True)
print(False and False and False and True)

True
False
False

In [42]:
# and لازمی
# or = optional
#1        2        3        4
print(True or True or True or True  )
print(True or True or False or True)
print(False or False or False or True)
print(False or False or False or False)

True
True
True

In [44]:
not True

False

In [53]:
name : str = "Qasim"
print(not name=="Qasim")
# name == "Qasim"
# "Qasim" == "Qasim"
# True

False

In [49]:
name : str = "Qasim"
print(name!="Qasim")
# name == "Qasim"
# "Qasim" == "Qasim"

False

# Python Identity Operators

In [50]:
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [55]:
x : str = 'abc'
z : str = 'abc'

print(id(x))
print(id(z))

4314307568
4314307568

In [59]:
i : str = 'abc'
j : str = 'xyz'

print(id(i))
print(id(j))

i is j

4314307568
4801662576

False

In [56]:
x is z

True

In [57]:
x : str = 'abc'
z : str = 'abc'

print(id(x))
print(id(z))

x is not z

4314307568
4314307568

False

# Python Membership Operators

In [61]:
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [65]:
names: list[str] = [chr(i) for i in range(65,91)]

for i in range(len(names)):
    print(i, names[i])
    if names[i] == "D":
        print("True")
        break

0 A
1 B
2 C
3 D
True

In [66]:
names: list[str] = [chr(i) for i in range(65,91)]

"D" in names

True

In [68]:
names: list[str] = [chr(i) for i in range(65,91)]
display(names)

"Pakistan" in names

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

False

In [ ]:
names: list[str] = [chr(i) for i in range(65,91)]

"D" not in names

In [74]:
names : list[str] = ['Sir Zia','Sir Inam', 'Qasim']

uinput : str = input("Enter your name")

uinput in names

False

In [76]:
names : list[str] = ['Sir Zia','Sir Inam', 'Qasim']

uinput : str = input("Enter your name")

uinput not in names

False

In [78]:
uinput not in names

False

<img src='https://learningmonkey.in/wp-content/uploads/2021/05/Operator-Precedence-and-Associativity-in-Python.jpg'>

## PEMDAS

In [79]:
print(3 + 2 - 2 * 4 /2 + 2)
#     3+2−2×4÷2+2
#     3 + 2 - 4 + 2
#      6    - 8

3.0

Alright, let's solve the equation step by step. We'll use the order of operations, often remembered by the acronym PEMDAS/BODMAS:

- **P**arentheses/**B**rackets
- **E**xponents (ie Powers and Square Roots, etc.)/**O**rders (ie Powers and Square Roots, etc.)
- **MD** Multiplication and Division (left-to-right)
- **AS** Addition and Subtraction (left-to-right)

Given the expression:

\[ 3 + 2 - 2 \times 4 \div 2 + 2 \]

Let's solve it step by step:

1. **Multiplication and Division**:
\[ 2 \times 4 = 8 \]
\[ 8 \div 2 = 4 \]

Replacing these values in the expression, we get:

\[ 3 + 2 - 4 + 2 \]

2. **Addition and Subtraction** (from left to right):
\[ 3 + 2 = 5 \]
\[ 5 - 4 = 1 \]
\[ 1 + 2 = 3 \]

So, the final answer is:

\[ 3 \]

In [80]:
print((6 + 3) - (6 + 3))

0

In [81]:
universe_age: int  = 14_000_000_000
print(universe_age)

14000000000

In [84]:


# unzip
#0  1    2     0        1   2
a , b  , c  = 'qasim', 7, 3.0

print(a)
print(b)
print(c)

qasim
7
3.0

In [85]:
'qasim', 7, 3.0

('qasim', 7, 3.0)

In [86]:
a, b, c = ('qasim', 7, 3.0)
print(a)
print(b)
print(c)

qasim
7
3.0

In [87]:
data = ('qasim', 7, 3.0)
print(data[0], data[1], data[2])

qasim 7 3.0

In [88]:
data = ('qasim', 7, 3.0)
print(*data)

qasim 7 3.0

In [90]:
2 * 2
"a" * 3

'aaa'

In [91]:
# akadkjas


# adskf
# ads
# Falsea
# df

In [93]:
"""
asdf
asd
f
asdf

"""

print('hello')

hello

In [94]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!