In [1]:
print("name")

name

In [2]:
print(name)

NameError: name 'name' is not defined

In [3]:
name : str = "Muhammad Qasim"
print(name)

Muhammad Qasim

# String Data type in python

In [4]:
# boundries
# 'string text', "string text ", '''string text''', """ string"""
# `string text` type script

name : str = "Muhammad Qasim"
print(type(name))
print(name)

<class 'str'>
Muhammad Qasim

In [5]:
# boundries
# 'string text', "string text ", '''string text''', """ string"""
# `string text` type script

name : str = 'Muhammad Qasim'
print(type(name))
print(name)

<class 'str'>
Muhammad Qasim

In [6]:
message : str = 'PIAIC Student Card \n father's Name'
print(message)

SyntaxError: unterminated string literal (detected at line 1) (4212690934.py, line 1)

In [7]:
message : str = "PIAIC Student Card \n father's Name"
print(message)

PIAIC Student Card
 father's Name

In [8]:
message : str = 'PIAIC "Student Card" \n father Name'
print(message)

PIAIC "Student Card"
 father Name

In [9]:
# convert any special character into simple character, place \ before character
message : str = 'PIAIC Student Card \n father\'s Name'
print(message)

PIAIC Student Card
 father's Name

In [ ]:
message : str = "PIAIC Student Card \n father's Name"

In [18]:
"a" + "b" + "c"

'abc'

In [21]:
"a" + "7"

'a7'

In [17]:
# boundries
# 'string text', "string text ", '''string text''', """ string"""
# `string text` type script

name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30

card : str = "PIAIC Student Card\nStudent Name: " + name + "\nAge:" + age

print(card)

TypeError: can only concatenate str (not "int") to str

In [22]:
"a" + str(7)

'a7'

In [24]:
# boundries
# 'string text', "string text ", '''string text''', """ string"""
# `string text` type script

name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30

card : str = "PIAIC Student Card\nStudent Name: " + name + "\nAge:" + str(age)

print(card)

PIAIC Student Card
Student Name: Muhammad Qasim
Age:30

In [25]:
print(7 + 8 + 2)

17

# "\\" line continue

In [32]:
print(7 + \
      8 + \
        2)

17

In [33]:
# boundries
# 'string text', "string text ", '''string text''', """ string"""
# `string text` type script

name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30

card : str = "PIAIC Student Card\nStudent Name: " + name +\
"\nAge:" + str(age)+ "\n"+\
"Education: " + education

print(card)

PIAIC Student Card
Student Name: Muhammad Qasim
Age:30
Education: Master in Data Science

## Define multiline string """ """, '''  '''

In [36]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = """
PIAIC Student Card
Student Name : 
Father's Name: 
Age: ......
Education : .....
"""

print(card)

PIAIC Student Card
Student Name :
Father's Name:
Age: ......
Education : .....

# F-string pthon

In [38]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}
"""

print(card)

PIAIC Student Card
Student Name : Muhammad Qasim
Father's Name: Muhammad Aslam
Age: 30
Education : Master in Data Science

In [39]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = f'''
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}
'''

print(card)

PIAIC Student Card
Student Name : Muhammad Qasim
Father's Name: Muhammad Aslam
Age: 30
Education : Master in Data Science

In [40]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = `
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}
`

print(card)

SyntaxError: unterminated string literal (detected at line 10) (1462558565.py, line 10)

In [41]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}

Total {2 + 8 + 9 + 3}
"""

print(card)

PIAIC Student Card
Student Name : Muhammad Qasim
Father's Name: Muhammad Aslam
Age: 30
Education : Master in Data Science

Total 22

## F-string and Jinja style

In [43]:
f"""
student name {name}
"""

'\nstudent name Muhammad Qasim\n'

In [ ]:
# Jinja Style
"""
student name {{name}}
"""

In [44]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = f"""
PIAIC Student Card
Student Name : %s
Father's Name: %s
Age: %d
Education : %s

""" % (name, fname, age, education)

print(card)

PIAIC Student Card
Student Name : Muhammad Qasim
Father's Name: Muhammad Aslam
Age: 30
Education : Master in Data Science

In [48]:
[i for i in dir(str) if "__" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [51]:
a = 7
b = 8
# {} place holder
#                   0                1          0 1
"pakistan value a = {} and value b = {}".format(a,b)

'pakistan value a = 7 and value b = 8'

In [ ]:

# {} place holder
#                   0                1          0 1
"pakistan value a = {} and value b = {}".format(a,b)

In [50]:
name : str = "MUhAMMad QaSiM"

print(name.capitalize())
print(name.lower())

Muhammad qasim
muhammad qasim

In [ ]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}

Total {2 + 8 + 9 + 3}
"""

print(card)

In [53]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = """
PIAIC Student Card
Student Name : {}
Father's Name: {}
Age: {}
Education : {}
""".format(fname, name, education, age)

print(card)

PIAIC Student Card
Student Name : Muhammad Aslam
Father's Name: Muhammad Qasim
Age: Master in Data Science
Education : 30

In [54]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = """
PIAIC Student Card
Student Name : {1}
Father's Name: {0}
Age: {3}
Education : {2}
""".format(fname, name, education, age)
#           0      1       2        3

print(card)

PIAIC Student Card
Student Name : Muhammad Qasim
Father's Name: Muhammad Aslam
Age: 30
Education : Master in Data Science

In [55]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = """
PIAIC Student Card
Student Name : {a}
Father's Name: {b}
Age: {c}
Education : {d}
""".format(a=name, b=fname, c=age, d=education)


print(card)

PIAIC Student Card
Student Name : Muhammad Qasim
Father's Name: Muhammad Aslam
Age: 30
Education : Master in Data Science

# Recommended below two f-string format

In [56]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}
"""

print(card)

PIAIC Student Card
Student Name : Muhammad Qasim
Father's Name: Muhammad Aslam
Age: 30
Education : Master in Data Science

In [57]:
student_code : str = """
print("My Name is Muhammad Qasim")
a:int = 7
b:int = 8
print(a + b)
"""

exec(student_code)

My Name is Muhammad Qasim
15

# Explore String methods and attributes

pre-define global function we have used
* print
* type
* id
* dir
* len

In [59]:
a: list[str] = [i for i in dir(str) if "__" not in i]
print(a)
print(len(a))

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
47

In [60]:
name : str = "MuHammAd QasIm"

#variable_name.method()
print(name.capitalize())

Muhammad qasim

In [61]:
name : str = "MuHammAd QasIm"

#variable_name.method()
print(name)
print(name.casefold())

MuHammAd QasIm
muhammad qasim

In [62]:
name : str = "MuHammAd QasIm"

#variable_name.method()
print(name)
print(name.lower())

MuHammAd QasIm
muhammad qasim

In [64]:
name : str = "      MuHammAd QasIm         "

#variable_name.method()
display(name)
display(name.lstrip())

'      MuHammAd QasIm         '

'MuHammAd QasIm         '

In [65]:
name : str = "      MuHammAd QasIm         "

#variable_name.method()
display(name)
display(name.rstrip())

'      MuHammAd QasIm         '

'      MuHammAd QasIm'

In [66]:
name : str = "      MuHammAd QasIm         "

#variable_name.method()
display(name)
display(name.strip())

'      MuHammAd QasIm         '

'MuHammAd QasIm'

In [67]:
name : str = "      MuHammAd       QasIm         "

#variable_name.method()
display(name)
display(name.strip())

'      MuHammAd       QasIm         '

'MuHammAd       QasIm'

In [71]:
import re

name : str = "      MuHammAd           QasIm         "

display(name)

name1 : str = re.sub(' {2,100}',' ', name).strip()
display(name1)

'      MuHammAd           QasIm         '

'MuHammAd QasIm'

In [72]:
name : str = "MuHammAd QasIm"

#variable_name.method()
display(name)
display(name.title())

'MuHammAd QasIm'

'Muhammad Qasim'

In [73]:
name:str = "Ada Lovelace"
print(name.upper())
print(name.lower())

ADA LOVELACE
ada lovelace

In [ ]:
\n
\t
\b

In [74]:
print("Name:\t\t Muhammad Qasim")

Name:		 Muhammad Qasim

In [76]:
print("Name:\nMuhammad Qasim")

Name:
Muhammad Qasim

In [77]:
print("Name:\bMuhammad Qasim")

NameMuhammad Qasim

In [78]:
nostarch_url:str = 'https://nostarch.com'
nostarch_url.removeprefix('https://')

'nostarch.com'

In [79]:
1name : str = "Qasim"
print(1name)

SyntaxError: invalid decimal literal (2214117265.py, line 1)

In [80]:
_1name : str = "Qasim"
print(_1name)

Qasim

In [81]:
piaic student name : str = "Muhammad Qasim"
print(piaic student name)

SyntaxError: invalid syntax (379964243.py, line 1)

In [82]:
piaic_student_name : str = "Muhammad Qasim"
print(piaic_student_name)

Muhammad Qasim